@import 'tailwindcss';
@import 'fonts.css';
@import 'media.css';

@theme {
    --font-heading: 'Montserrat', sans-serif;
    --font-text: 'Open Sans', sans-serif;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
